name: Documentation
on:
  push: { branches: [ "main" ] }
  pull_request: { branches: [ "main" ] }

concurrency:
  group: doc-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with: { submodules: recursive }
      - uses: conda-incubator/setup-miniconda@v3
        with: { miniforge-variant: Mambaforge }
      - name: install dependencies
        shell: bash -l {0}
        run: |
          mamba env update --quiet -n test -f environment-dev.yml
          mamba list
      - name: build documentation
        shell: bash -l {0}
        run: |
          cd doc
          make html
          mv generated/html generated/html_
          mkdir generated/html
          mv generated/html_ generated/html/autotag-metadata
          touch generated/html/autotag-metadata/.nojekyll
      - name: detect broken links
        shell: bash -l {0}
        run: |
          make linkcheck
      - uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: doc/generated/html/autotag-metadata
          target-folder: docs
          single-commit: true
        if: ${{ github.event_name == 'push' }}

