name: Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

concurrency:
  group: test-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-windows-executable-build:
    name: Build Windows Executable
    uses: ./.github/workflows/build-windows.yml
  test-create-windows-installer:
    name: Create Windows Installer
    needs: test-windows-executable-build
    uses: ./.github/workflows/create-windows-installer.yml
  
  test-conda:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python: ["3.9", "3.10"]
        os: ["ubuntu-latest", "macos-latest", "windows-latest"]
        source: ["conda", "pip"]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Conda Environment
        uses: conda-incubator/setup-miniconda@v2
        with:
          python-version: "${{ matrix.python }}"
          miniforge-variant: Mambaforge
      - name: Install Dependencies
        shell: bash -l {0}
        run: |
          mamba env update --quiet -n test -f environment.yml
          mamba list
        if: ${{ matrix.source == 'conda' }}
      - name: Install Autotag-Metadata
        shell: bash -l {0}
        run: |
          pip install --no-dependencies .
        if: ${{ matrix.source == 'conda' }}
      - name: Install Autotag-Metadata
        shell: bash -l {0}
        run: |
          pip install .
        if: ${{ matrix.source == 'pip' }}
      - name: Doctest
        shell: bash -l {0}
        run: |
          pytest --doctest-modules autotag-metadata
        if: ${{ matrix.source == 'conda' }}        
      - name: Byexample
        shell: bash -l {0}
        run: |
          mamba install -y byexample
          byexample -l shell,python -o +norm-ws --timeout=30 README.md
        # byexample is not available for Windows
        # the exact numerical output of commands differs between Linux & macOS
        if: ${{ matrix.os == 'ubuntu-latest' && matrix.source == 'conda' }}
